/* src/styles.css */

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  text-align: center;
  color: #333;
  text-align: center;
}

.product {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  text-align: center;
}

.product h3 {
  margin-bottom: 10px;
  color: #333;
  text-align: center;
}

.product p {
  color: #777;
  text-align: center;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  text-align: center;
}

button:hover {
  background-color: #45a049;
  text-align: center;
}

.cart {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}

.cart h2 {
  color: #333;
  text-align: center;
}

.cart p {
  color: #777;
  justify-content: center;
  text-align: center;
}

.cart ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.cart li {
  margin-bottom: 5px;
  text-align: center;
}
